<a target="_self" href="style/pdf/blockTypes.pdf" class="btn btn-primary download" download="blockTypes.pdf">Download PDF</a>

<h2>Block Types</h2>
<img src="style/images/resources/blockTypes.png"/>
</br>
</br>
Blocks in Ardublock are separated into categories using the menu on the right side of the program.
These categories make writing program easier because they keep blocks organized and easy to find.
If you are curious what a specific block does, please hover your mouse over the block for a description
or ask your teacher for help.

<h3>Control</h3>
The <i>Control</i> menu is one of the most used menus when writing almost any program. In fact,
the first thing you must do to create a program is access the <i>Control</i> menu to access either
the <b>program</b> or <b>loop</b> block. Beyond these two necessary blocks, the menu allows
programmers to add loops, conditional statements like <b>if</b>, <b>delay</b> blocks (which are
particularly helpful when writing chip tune songs), and more. When first getting started
with Ardublock, this is a great menu to play with. 
<h3>ECS</h3>
The <i>ECS</i> menu is where many of the blocks you will be using are located. This menu
contains blocks for controlling the hardware, including the LEDs, buttons, speaker, and
distance sensor. By combining these hardware-controlling blocks with the other control,
math, and logic blocks included in Ardublock, you will be able to control the Arduino and its
shield just like you have controlled onscreen behavior in Scratch.
<h3>Variables/Constants</h3>
Using the <i>Variables/Constants</i> menu, it is possible to create named variables and hard-code
constant values throughout your program. This can make your programs easier to edit and
simpler to read, and often allows programmers to make more complicated and interesting
projects.
<h3>Math Operators</h3>
Just like Scratch, Ardublock has blocks that can be used for mathematical equations and
calculations. These blocks are found in the <i>Math Operators</i> menu, which contains the basics
like addition and subtraction, as well as trigonometric functions and other advanced
operators
<h3>Logic Operators</h3>
Much like the <i>Math Operators</i> menu, the <i>Logic Operators</i> menu contains blocks which can be
used to compare numerical blocks. This menu is used for comparisons like “Is 3 less than or
equal to 4?” and can be extremely useful when making programs which contain loops or
check for certain conditions.
<h3>Communication</h3>
Like the <i>Advanced (Pins)</i> and <i>Advanced (Code)</i> menus of blocks, described below, the
<i>Communication</i> menu contains advanced blocks which most students will not use. These
blocks are used mainly for debugging programs, which some students may wish to use if
they have previous programming experience. For those who are interested, Ardublock uses
a process called “gluing” to handle the combination of different block types for printing a
message to the serial console. These combined messages can be used with the print blocks
to display messages during program execution. This can be very helpful when your program
doesn’t seem to be working the way you expect!
<h3>Advanced (Pins)</h3>
The <i>Advanced (Pins)</i> menu of blocks is meant for advanced students who want to use more
peripherals than are available on the standard shield. In general, these blocks should not be
used unless you have a specific advanced goal in mind. If you are interested in using these
blocks, please ask your teacher for information about how to get started.
<h3>Advanced (Code)</h3>
As you have learned in class, the Arduino board runs the code you write using Ardublock.
You may not realize, though, that Ardublock takes your code and converts it into a different
language: Arduino code. This code, which you are able to see by following a different
tutorial (ask your teacher if you are interested), is a good introduction to writing code
yourself with a keyboard instead of a block-based interface. The Advanced (Code) menu of
blocks lets students try writing their own code in small pieces which they can add to a
program made of Ardublock code. Like the Advanced (Pins) menu of blocks, this is intended
for students who have already mastered block-based code. Please ask your teacher for help
getting started if you are feeling adventurous.
