<a target="_self" href="style/pdf/noteNames.pdf" class="btn btn-primary download" download="noteNames.pdf">Download PDF</a>

<div class="ecs-tutorial">

	<h2>List of Note Names</h2>
	To play notes with the shield’s speaker, you can use either note names or frequency
	numbers. This table includes all of the note names you can use, as well as the frequencies
	that match up with them. If you aren’t sure where to start, try one of the middle notes (C, for
	example), and see how it sounds.
	</br>
	<img src="style/images/resources/noteNames.PNG"/>

</div>
