<a target="_self" href="style/pdf/softwareSetup.pdf" class="btn btn-primary download" download="softwareSetup.pdf">Download PDF</a>
<style>
.setup > img {margin: 20px; height: auto; max-width: 100%;}
</style>
<h2>Software Setup</h2>
<h3>Note: Make sure you perform the hardware setup first</h3>
<div class="setup">
	The software students will use during this module comes packaged as a single folder in
	order to make using it as easy as possible. When setting a computer up to use our software,
	simply open the <i>MUzECS</i> folder and double click on <i>Arduino</i>. This will open the Arduino
	development environment, which is how the code will deploy the Arduino hardware.
	</br>
	<img src="style/images/resources/setup/1.png"/>
	</br>
	Once this program is open, use the menu at the top of the program to select <i>Tools > Board >
	Arduino Leonardo</i>. This is the Arduino we will be using for the course.
	</br>
	<img src="style/images/resources/setup/2.png"/>
	</br>
	Next, select <i>Tools > Ardublock</i>. This will open Ardublock, the program in which students will
	write their block-based programs.
	</br>
	<img src="style/images/resources/setup/3.png"/>
	</br>
	Once this is open, students are ready to get to work and write code.
	</br>
	<img src="style/images/resources/setup/4.png"/>
</div>
