<h2>MUzECS Project</h2>
Despite its critical and growing importance, Computer Science is taught in only a small minority of United States high schools. As Computer Science grows and develops as both an industry and an academic field, it is of the utmost importance that Computer Science education meet the needs of students from all backgrounds and at all levels of education. Our project seeks to expand the coverage of Computer Science for students in a variety of minority groups, particularly students separated by socioeconomic status.</br>
</br>
The aim of this project is to work with an existing framework to develop a new curriculum module to replace an unwieldy, expensive existing module. By reducing cost, we hope to open the ECS course - which has already been proven effective at bridging traditional student divides and introducing kids to Computer Science - to more schools, helping to democratize a field which has historically been exclusive and inaccessible.</br>
</br>
</br>
<b>Advisors:</b></br>
<a ng-click="routeTo('http://www.mscs.mu.edu/~brylow/')">
  Dr. Dennis Brylow
</a>
</br>
</br>
<b>
  Active Members:
</b>

</br>
<a ng-click="routeTo('http://www.linkedin.com/pub/alex-calfo/58/510/185/en')">
  Alex Calfo
</a>
</br>
<a ng-click="routeTo('http://www.linkedin.com/in/matthewbajzek')">
  Matthew Bajzek
</a>
</br>
<a ng-click="routeTo('http://www.linkedin.com/in/farzeenharunani')">
  Farzeen Harunani
</a>
</br>
<a ng-click="routeTo('http://www.linkedin.com/in/tylermuch')">
  Tyler Much
</a>
</br>
Jonathan Puccetti</br>
Heather Bort</br>
Luke Mivshek</br>
</br>
<b>Former Members:</b></br>
John Casey</br>
</br>
<b>Special Thanks To:</b></br>
Robert Juranitch</br>
Gail Chapman</br>

