<a target="_self" href="style/pdf/advancedCode.pdf" class="btn btn-primary download" download="advancedCode.pdf">Download PDF</a>

<h2>Arduino Code </br> (For Advanced/Interested Students)</h2>
Ardublock, the block-based programming language we use to make the programs in
this module, can be a good first step toward full Arduino programming for interested
students. Programs written using Ardublock are converted to Arduino code automatically
before running on the hardware, and students can look at this code if they want to learn
more about Arduino.
</br>
<img src="style/images/resources/advancedCode/1.png" style="margin: 20px;"/>
<img src="style/images/resources/advancedCode/2.png" style="margin: 20px;"/>
</br>
By learning the relationship between Ardublock code and Arduino code, students
can quickly and easily learn to write their own Arduino code directly as text. We hope that
students will enjoy this module enough to want to learn more about what an Arduino
programmer can do, and that this feature will make that process as easy as possible. The
internet is a fantastic resource for would-be Arduino hobbyists, and we have included some
resources below:
<a href="http://arduino.cc/en/Guide/HomePage">http://arduino.cc/en/Guide/HomePage</a>
<a href="http://playground.arduino.cc/Projects/Ideas">http://playground.arduino.cc/Projects/Ideas</a>
<a href="http://forum.arduino.cc/">http://forum.arduino.cc/</a>
<a href="http://www.instructables.com/id/Arduino-All-in-One-Getting-Started-Guide/">http://www.instructables.com/id/Arduino-All-in-One-Getting-Started-Guide/</a>
<a href="http://www.instructables.com/howto/arduino/">http://www.instructables.com/howto/arduino/</a>
<a href="http://www.adafruit.com/category/17">http://www.adafruit.com/category/17</a>
