<a target="_self" href="style/pdf/advancedPins.pdf" class="btn btn-primary download" download="advancedPins.pdf">Download PDF</a>

<h2>Advanced Pins </br> (For Advanced Students)</h2>
The ECS version of Ardublock is designed to make working with the MUzECS shield
simple and easy; blocks like <b>Play Note</b> are mapped directly to the header pins which
connect to the appropriate peripherals on the shield, so students do not need to worry
about which pins they are controlling. For advanced students, however, it can be useful to
have access to some "free" pins which are not directly mapped to existing peripherals.
These pins, which are on the corner of the Leonardo opposite the reset button (labelled A0 -
A5), can connect to additional LEDs, speakers, or other peripherals in order to create more
complicated and interesting projects.
</br>
</br>
<b>TODO: Picture of free pins</b>
</br>
</br>
While using these pins can be fun and educational, students should not do so unless
they are comfortable with how the peripherals they want to add work. If peripherals are
used incorrectly, they can break, and using peripherals which require a breadboard or
external power supply can be dangerous if done recklessly. Basic breadboard use can be
learned from resources like 
<a href="http://www.instructables.com/id/Breadboard-Basics-for-AbsoluteBegginers/step1">
http://www.instructables.com/id/Breadboard-Basics-for-AbsoluteBegginers/step1</a>
, and safety should be a top priority when creating any project.
</br>
</br>
<b>TODO: Example with advanced pins - light external LED(s), take pictures</b>
</br>
